/* app.scss */

@import "base";

.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

.thing { border: 1px solid red; background-color: transparentize( red, 0.9 ); }
.object { border: 1px solid orange; background-color: transparentize( orange, 0.9 ); }
.function { border: 1px solid yellow; background-color: transparentize( yellow, 0.9 ); }
.array { border: 1px solid green; background-color: transparentize( green, 0.9 ); }
.string { border: 1px solid blue; background-color: transparentize( blue, 0.9 ); }
.number { border: 1px solid purple; background-color: transparentize( purple, 0.9 ); }
.boolean { border: 1px solid black; background-color: transparentize( black, 0.9 ); }

pre {
	display: block;
	float: left;
	margin: 2em;
	max-width: 500px;
}