<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
	<meta meta name="HandheldFriendly" content="true">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
  
	<title><%= title %></title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<% if ( debug === false ) { %>
	<link type="text/css" rel="stylesheet" media="all" href="css/app.<%= version %>.css" />
	<% } else { %>
	<div style="height:1em; background-color:#000; color:#FFF;">Dev <%= title %> (<%= version %>/<%= process.env.APP_HASH %>)</div>
	<% } %>
</head>
<body>
	<h2><%= title %></h2>

	<template for="users"> <!-- for user[s] controller -->
		<section data-id="haniel"> <!-- resource id -->
			<!-- resource properties -->
			<img data-bind="image" src="http://placehold.it/50x30/aa4477/00033f?text=ballzes">
			<em data-bind="username" class="blink">roading...</em>
			<span>
				<p data-bind="trackers"></p>
				<i data-bind="flaargen"></i>
			</span>
		</section>
	</template>

	<date-elem class="sandbox"></date-elem>
	<hr>
<!-- 	<remote-controller resource="http://localhost:3000/projects" actions="*" class="sandbox">
		<h4 class="blink">Prease waiting...</h4>
	</remote-controller> -->
<!-- 	<remote-controller resource="http://localhost:3000/projects" actions="*" template class="sandbox">
		<h4 class="blink">Prease waiting...</h4>
	</remote-controller>
	<remote-controller resource="http://localhost:3000/projects" actions="*" template renderer class="sandbox">
		<h4 class="blink">Prease waiting...</h4>
	</remote-controller> -->
<!-- 	<remote-item resource="http://localhost:3000/projects" id="e5b5d43782c4884a" actions="*" class="sandbox">
		<h4 class="blink">Prease waiting...</h4>
	</remote-item> -->
	<remote-controller resource="ec2-52-35-23-159.us-west-2.compute.amazonaws.com/trackers" actions="*" class="sandbox">
		<h4 class="blink">Prease waiting...</h4>
	</remote-controller>
	<remote-controller resource="ec2-52-35-23-159.us-west-2.compute.amazonaws.com/balls" actions="read" class="sandbox">
		<h4 class="blink">Prease waiting no working good...</h4>
	</remote-controller>
	<remote-item resource="ec2-52-35-23-159.us-west-2.compute.amazonaws.com/trackers" id="309b57d99558d972" actions="read balls" class="sandbox">
		<h4 class="blink">Prease waiting...</h4>
	</remote-item>

	<div id="app"></div>

	<script src="js/app.<%= version %>.js"></script>

	<!-- <script src="http://d359icslfg5ozq.cloudfront.net"></script> -->
<!-- 
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" async></script>
	<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		function makeDataTables(){
			$('#results').DataTable().destroy()

			$('#results').DataTable({
				paging: false,
				scrollY: '75vh',
				scrollX: true,
				scrollCollapse: true
			});

		    $('#results tbody').on('click', 'tr', function(){
		        $( this ).toggleClass('selected');
		    });
		}
		$( document ).ready(function(){
			// makeDataTables()
		})
		$( window ).on('render', function( event ){
			console.log('window.render')
			// makeDataTables()
		})
	</script> 
-->
</body>
</html>
