u-flash *,
.u-flash *, 
u-flash *:before, 
.u-flash *:before, 
u-flash *:after,
.u-flash *:after {
	box-sizing: border-box;
}

u-flash,
.u-flash {
	display: block;
	opacity: inherit;
	font-size: inherit;
	background-color: lime;
	color: #000;
	padding: 0.5em;
}
u-flash[warning],
.u-flash[warning] {
	background-color: orange;
}
u-flash[error],
.u-flash[error] {
	background-color: red;
}

u-flash.enable,
.u-flash.enable {
	-webkit-animation: flash 1s ease-out;
	-moz-animation: flash 1s ease-out;
	-ms-animation: flash 1s ease-out;
	-o-animation: flash 1s ease-out;
	animation: flash 1s ease-out;
}
@-webkit-keyframes flash { 99% { opacity: 0; } }
@-moz-keyframes flash { 99% { opacity: 0; } }
@-ms-keyframes flash { 99% { opacity: 0; } }
@-o-keyframes flash { 99% { opacity: 0; } }
@keyframes flash { 99% { opacity: 0; } }